{% extends "base.html" %}

{% block content %}
    <h1>recipes:</h1>

    {% for recipe in recipes %}
            <h2>{{ recipe.name }}</h2>
            
            <p><strong>Ingredients:</strong></p>
            <ul>
                {% for item in recipe.ingredients %}
                    <li>{{ item.name }}: {{ item.quantity }}</li>
                {% endfor %}
            </ul>

            <p><a href="{{ recipe.link }}">Go to {{ recipe.name }}</a></p>
        <hr>
    {% endfor %}
{% endblock %}