{% extends "base.html" %}

{% block content %}
    <h1>recipes</h1>

    {% for recipe in recipes %}
        <p>name: {{ recipe.name }}</p>

        <p>ingredients:</p>
        <ul>
            {% for item in recipe.ingredients %}
                <li>
                    name: {{ item.name }}<br>
                    quantity: {{ item.quantity }}
                </li>
                <br>
            {% endfor %}
        </ul>

        <p>link: <a href="{{ recipe.link }}">{{ recipe.link }}</a></p>
        <hr> {% endfor %}
{% endblock %}