{% extends "base.html" %}

{% block content %}
    <p>recipes:</p>
    {% for recipe in recipes %}
    <div style="padding-left: 20px;">
        name: {{ recipe.name }}<br>
        ingredients:
            {% for item in recipe.ingredients %}
                <ul><li>
                    name: {{ item.name }},<br>
                    quantity: {{ item.quantity }}
                <br> </li></ul>
            {% endfor %}
        

        <p>link: <a href="{{ recipe.link }}">{{ recipe.link }}</a></p>
        </div><hr> 
        {% endfor %}
{% endblock %}