{% extends "base.html" %}

{% block content %}
    <p>
        <strong> Author:</strong> {{recipe.author.name}} <br>
        name: {{ recipe.name }} <br>
        ingredients:
    </p>
        <ul>   
            {% for item in recipe.ingredients.all %}
                <li>
                    name: {{ item.ingredient.name }}, <br>
                    quantity: {{ item.quantity }}
                </li>
                <br>
            {% endfor %}
        </ul>   

    <p>
        link: <a href="{{ recipe.get_absolute_url }}">{{ recipe.name }}</a>
    </p>
{% endblock %}