{% extends "base.html" %}

{% block page_heading %}Recipe {{recipe.pk}}{% endblock %}

{% block content %}
    <p>
        <strong> Author:</strong> {{recipe.author.name}} <br>
        name: {{ recipe.name }} <br>
        ingredients:
    </p>
        <ul>   
            {% for item in recipe.ingredients.all %}
                <li>
                    name: {{ item.ingredient.name }}, <br>
                    quantity: {{ item.quantity }}
                </li>
                <br>
            {% endfor %}
        </ul>   
        
        {% for image in recipe.images.all %}
            <img src="{{ image.image.url }}" alt="{{ image.description }}">
            <br>
        {% endfor %}
        
        <br>

        <a href="{% url 'add_image' recipe.pk %}">Add Image</a>
    <p>
        link: <a href="{{ recipe.get_absolute_url }}">{{ recipe.name }}</a>
    </p>
{% endblock %}